
    *{
        margin: 0;
        padding: 0;
    }
    .nav{
        background-color: black;
        height: 90px;
        color: white;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
   
    .section{
        padding: 20px;
    }
   
    .heading{
        margin-bottom: 30px;
        font-size:64px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
    }
    .section1-btn{
        background-color: black ;
        padding: 10px;
        margin-top: 10px;
    }
    .section1-btn a{
       color: white;
        text-decoration: none;
    }
    .list{
        margin-left:30px
    }
